/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.repos {
  margin-bottom: 3rem;
}

.repo {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  border-top: solid #efefef 1px;
  border-left: solid #ffffff 5px;
  vertical-align: middle;
}

.repos div.watching {
  border-left: solid #d6e9c6 5px;
}
.repos div.ignoring {
  border-left: solid #ebccd1 5px;
}

.repo .conditions {
  float: right;
}
